body{
    font-family: sans;
    background: #000400;
    color: #fff;
}

.hover-rotate{
    overflow: hidden;
    margin: 8px;
}
.hover-rotate img{
    transition: all 0.3s;
    box-sizing: border-box;
    margin-left: 86px;
}

.hover-rotate:hover img{
    transform: scale(1.2) rotate(5deg);
}

